.menu-container 
{
    margin-bottom: 8px;
}
.menu-container li 
{
	margin: 7px 0 0 0;
	padding: 0;
}
.menu-container ol
{
	padding-left:10px;
}
.menu-tree-item div
{
	border: 1px solid #cAcAcA;
	padding: 3px 30px;
	margin: 0;
	cursor: move;
}
.menu-tree-placeholder 
{
	background-color: #EAEAEA;
}