
# use glob syntax
syntax: glob

*.ncrunchproject
*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh

*.cache
*.ilk
*.log
*.lib
*.sbr
*.scc

[Dd]ebug*/

[Bb]in
*/bin/*
!lib/Castle Windsor 2.0/bin/
!lib/autofac-contrib/

*/obj/*
[Rr]elease*/
_ReSharper*/
_ReSharper*
_ReSharper.voda/
_ReSharper.XLN
[Tt]humbs.db
[Tt]est[Rr]esult*
[Bb]uild[Ll]og.*
*.[Pp]ublish.xml
*.resharper
*.ReSharper



#ignore StyleCope cache
#StyleCop.Cache
[Ss]tyle[Cc]op.[Cc]ache

#ignore merc merge temp files
*.orig

# ignore temp directories
[Tt]emp/
[Tt]mp/

#winword temp files
~$*.docx

artifacts/
build/
buildtasks/



