body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

#u0 {
    position:absolute;
    left:106px;
    top:545px;
    width:797px;
    height:293px;
    overflow:hidden;
}

#pd2u0 {
    position:absolute;
    left:0px;
    top:0px;
    width:797px;
    height:293px;
    
}

.u1_normal {
    background-image: url('../Product_files/u1_normal.png');
}

.u1_container {
    position:absolute;
    left:0px;
    top:0px;
    width:792px;
    height:285px;
}

#u1_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:798px;
    height:291px;
}

.u2 {
    position:absolute;
    left:2px;
    top:134px;
    width:788px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd1u0 {
    position:absolute;
    left:0px;
    top:0px;
    width:797px;
    height:293px;
    
}

.u3_normal {
    background-image: url('../Product_files/u3_normal.png');
}

.u3_container {
    position:absolute;
    left:0px;
    top:0px;
    width:791px;
    height:285px;
}

#u3_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:797px;
    height:291px;
}

.u4 {
    position:absolute;
    left:2px;
    top:134px;
    width:787px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u0 {
    position:absolute;
    left:0px;
    top:0px;
    width:797px;
    height:293px;
    
}

.u5_normal {
    background-image: url('../Product_files/u5_normal.png');
}

.u5_container {
    position:absolute;
    left:0px;
    top:0px;
    width:790px;
    height:285px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:796px;
    height:291px;
}

.u6 {
    position:absolute;
    left:2px;
    top:134px;
    width:786px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_container {
    position:absolute;
    left:112px;
    top:113px;
    width:200px;
    height:200px;
}

#u7_img {
    position:absolute;
    left:0px;
    top:0px;
    width:200px;
    height:200px;
}

.u8 {
    position:absolute;
    left:2px;
    top:92px;
    width:196px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:112px;
    top:80px;
    width:219px;
    height:42px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:112px;
    top:360px;
    width:57px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:155px;
    top:339px;
    width:114px;
    height:57px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_image_sketch {
    background-image: url('../Product_files/u12_image_sketch.png');
    position:absolute;
    left:109px;
    top:403px;
    width:202px;
    height:69px;
}

.u12 {
    position:absolute;
    left:112px;
    top:406px;
    width:196px;
    height:63px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 28px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u13_selected {
    background-image: url('../Product_files/Tab1_u13_selected.png');
}

.u13_normal {
    background-image: url('../Product_files/Tab1_u13_normal.png');
}

.u13_container {
    position:absolute;
    left:112px;
    top:510px;
    width:89px;
    height:36px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:95px;
    height:42px;
}

.u14 {
    position:absolute;
    left:2px;
    top:10px;
    width:85px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_selected {
    background-image: url('../Product_files/Tab2_u15_selected.png');
}

.u15_normal {
    background-image: url('../Product_files/Tab2_u15_normal.png');
}

.u15_container {
    position:absolute;
    left:211px;
    top:510px;
    width:157px;
    height:36px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:163px;
    height:42px;
}

.u16 {
    position:absolute;
    left:2px;
    top:10px;
    width:153px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_selected {
    background-image: url('../Product_files/Tab3_u17_selected.png');
}

.u17_normal {
    background-image: url('../Product_files/Tab3_u17_normal.png');
}

.u17_container {
    position:absolute;
    left:378px;
    top:510px;
    width:92px;
    height:36px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:98px;
    height:42px;
}

.u18 {
    position:absolute;
    left:2px;
    top:10px;
    width:88px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:174px;
    top:313px;
    width:88px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_normal {
    background-image: url('../Product_files/u20_normal.png');
}

.u20_container {
    position:absolute;
    left:106px;
    top:859px;
    width:780px;
    height:167px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:786px;
    height:173px;
}

.u21 {
    position:absolute;
    left:2px;
    top:76px;
    width:776px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_container {
    position:absolute;
    left:145px;
    top:894px;
    width:70px;
    height:56px;
}

#u22_img {
    position:absolute;
    left:0px;
    top:0px;
    width:70px;
    height:56px;
}

.u23 {
    position:absolute;
    left:2px;
    top:20px;
    width:66px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24 {
    position:absolute;
    left:279px;
    top:362px;
    width:58px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    position:absolute;
    left:126px;
    top:966px;
    width:49px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26 {
    position:absolute;
    left:162px;
    top:966px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_image_sketch {
    background-image: url('../Product_files/u27_image_sketch.png');
    position:absolute;
    left:133px;
    top:979px;
    width:74px;
    height:24px;
}

.u27 {
    position:absolute;
    left:136px;
    top:982px;
    width:68px;
    height:18px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u28 {
    position:absolute;
    left:198px;
    top:963px;
    width:50px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29 {
    position:absolute;
    left:112px;
    top:950px;
    width:150px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30_normal {
    background-image: url('../Product_files/u30_normal.png');
}

.u30_container {
    position:absolute;
    left:106px;
    top:860px;
    width:780px;
    height:24px;
}

#u30_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:786px;
    height:30px;
}

.u31 {
    position:absolute;
    left:2px;
    top:4px;
    width:776px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32_container {
    position:absolute;
    left:354px;
    top:895px;
    width:70px;
    height:56px;
}

#u32_img {
    position:absolute;
    left:0px;
    top:0px;
    width:70px;
    height:56px;
}

.u33 {
    position:absolute;
    left:2px;
    top:20px;
    width:66px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:335px;
    top:967px;
    width:49px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35 {
    position:absolute;
    left:371px;
    top:967px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36_image_sketch {
    background-image: url('../Product_files/u36_image_sketch.png');
    position:absolute;
    left:342px;
    top:980px;
    width:74px;
    height:24px;
}

.u36 {
    position:absolute;
    left:345px;
    top:983px;
    width:68px;
    height:18px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u37 {
    position:absolute;
    left:407px;
    top:964px;
    width:50px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38 {
    position:absolute;
    left:321px;
    top:951px;
    width:150px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39_container {
    position:absolute;
    left:535px;
    top:895px;
    width:70px;
    height:56px;
}

#u39_img {
    position:absolute;
    left:0px;
    top:0px;
    width:70px;
    height:56px;
}

.u40 {
    position:absolute;
    left:2px;
    top:20px;
    width:66px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41 {
    position:absolute;
    left:516px;
    top:967px;
    width:49px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42 {
    position:absolute;
    left:552px;
    top:967px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43_image_sketch {
    background-image: url('../Product_files/u43_image_sketch.png');
    position:absolute;
    left:523px;
    top:980px;
    width:74px;
    height:24px;
}

.u43 {
    position:absolute;
    left:526px;
    top:983px;
    width:68px;
    height:18px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u44 {
    position:absolute;
    left:588px;
    top:964px;
    width:50px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45 {
    position:absolute;
    left:502px;
    top:951px;
    width:150px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46_normal {
    background-image: url('../Product_files/u46_normal.png');
}

.u46_container {
    position:absolute;
    left:337px;
    top:90px;
    width:546px;
    height:378px;
}

#u46_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:552px;
    height:384px;
}

.u47 {
    position:absolute;
    left:2px;
    top:181px;
    width:542px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48 {
    position:absolute;
    left:349px;
    top:152px;
    width:451px;
    height:216px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49 {
    position:absolute;
    left:349px;
    top:406px;
    width:501px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50_normal {
    background-image: url('../Product_files/u50_normal.png');
}

.u50_container {
    position:absolute;
    left:337px;
    top:90px;
    width:545px;
    height:45px;
}

#u50_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:551px;
    height:51px;
}

.u51 {
    position:absolute;
    left:2px;
    top:6px;
    width:541px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

