<form action="http://localhost/DliaKvartir/Osmos">
	
	myFilterField<input type="text" name="myFilterField" value="xxx" />
	Obezzhelezivanie<input type="text" name="Obezzhelezivanie" value="Нет"/>

	<input type="submit"/>
</form>

@*Render list items*@
@DisplayChildren(Model)